<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="carbon-title">Carbon Footprint (GHG)</h2>
      <br>
      <div>
        <div class="progress green"> <span class="progress-left"> <span class="progress-bar"></span> </span> <span
            class="progress-right"> <span class="progress-bar"></span> </span>
          <div class="progress-value-green">50</div>
        </div>
      </div>

      <br>
      <div class="card">
        <div style="text-align:center">
          <p class="metrics"> <span class="dot dot-red"></span> 0-49 </p>
          <p class="metrics"> <span class="dot dot-orange"></span> 50-89 </p>
          <p class="metrics"> <span class="dot dot-green"></span> 90-100 </p>
        </div>
      </div>




    </div>
    <div class="col">
      <h2>Something</h2>
      <div class="details">
        <!-- Interactive -->
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Time to Interactive
            </mat-panel-title>
            <p>s</p>
          </mat-expansion-panel-header>
          <h3><b>Interactive</b></h3>
          <p>Time to interactive is the amount of time it takes for the page to become fully interactive.</p>
        </mat-expansion-panel>
      </div>



      <div class="details">
        <!-- Page Weight -->
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Total Byte Weight
            </mat-panel-title>
            <p>KB</p>
          </mat-expansion-panel-header>
          <h3><b>Page Weight</b></h3>
          <p>
            It contains the total byte weight of your website. <br><br>
            Based on HTTP Archive Data, the median network payload is between 1,700 and 1,900 KiB. To help surface the
            highest payloads. Lighthouse flags pages whose total network requests exceed 5,000 KiB.

          </p>
        </mat-expansion-panel>
      </div>


      <div class="details">
        <!-- Interactive -->
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Usage
            </mat-panel-title>
            <p>500000</p>
          </mat-expansion-panel-header>
          <h3><b>Usage</b></h3>
          <p>The number of times your website page is accessed.</p>
        </mat-expansion-panel>
      </div>

      <div class="details">
        <!-- Interactive -->
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Coefficient
            </mat-panel-title>
            <p>0.25</p>
          </mat-expansion-panel-header>
          <h3><b>Coefficient</b></h3>
          <p>It is the software carbon footprint assumption.</p>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
</div>
